{% extends "manager_app/base.html" %}
{% load tags %}

{% block head_title %}- orders{% endblock %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
    {% if order_list %}
        {% for order in order_list %}
            <div class="list_item">
                {{ order.user.name }}
                <img src="{{ order.product.image.url }}"/>
                {{ order.product.name }} {{ order.product.price }}
                {{ order.count }}
                {{ order.status }}
                {{ order.dateTime }}
            </div>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>There is no orders</p>
    {% endif %}
{% endblock %}