{% extends "manager_app/base.html" %}
{% load tags %}

{% block head_title %}- categories{% endblock %}

{% block title %}
    Categories
{% endblock %}

{% block content %}
    <a calss="btn" href="{% url "manage:new_category" %}">New category</a>
    <ul>
    {% for c in category_list %}
        <li><a href="{% url 'category_prods' c.id %}">{{ c.name }}</a>
        {% children_tag c %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}