{% extends "manager_app/base.html" %}

{% block head_title %}- new product{% endblock %}

{% block title %}
    Create product
{% endblock %}

{% block content %}
    <form action="{% url 'manage:new_product' %}" method="POST">
        {% csrf_token %}
        <p>Name: <input type="text" name="name"/></p>
        <p>Category:
            <select name="category">
                {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p>Price: <input type="text" name="price"/></p>
        <p>Description:</p>
        <textarea name="description"></textarea>
        <p>Image: <input type="file" name="image"/></p>
        <p><input type="submit" value="Create"/></p>
        <p>
            Characteristics:
            <div id="chars" name="prod_characteristics">

            </div>
            <div id="dialog" title="Success" style="display:none">
                <p>New characteristic was created.</p>
            </div>
        </p>
    </form>
    <button id="add_char_button">Add characteristic</button>
    <p>
        {{ form.as_p }}
        <button id="new_char_button">New characteristic</button>
    </p>

    <script type="text/javascript">
        var characteristics = {{ characteristics }};
        function generateSelect() {
            var select_temp = document.createElement("select");
            var default_blank = document.createElement("option");
            default_blank.appendChild(document.createTextNode(" -- select an option -- "));
            default_blank.setAttribute("disabled","");
            default_blank.setAttribute("selected","");
            select_temp.appendChild(default_blank);
            for (var i in characteristics) {
                var node = document.createElement("option");
                node.appendChild(document.createTextNode(characteristics[i].fields.name));
                node.setAttribute("value", characteristics[i].pk);
                select_temp.appendChild(node);
            }
            return select_temp;
        }

        var add_button = document.getElementById("add_char_button");
        var chars = document.getElementById("chars");
        var char_index = 0;
        add_button.onclick = function() {
            var char_select_list = generateSelect();
            char_select_list.setAttribute("id", "ch_"+(char_index ++));
            var paragraph = document.createElement("p");
            paragraph.appendChild(char_select_list);
            chars.appendChild(paragraph);
            char_select_list.onchange = function() {
                if (paragraph.childElementCount > 1) {
                    paragraph.removeChild(paragraph.lastChild);
                }
                var selected_char_id = char_select_list.options[char_select_list.selectedIndex].value;
                var selected_char;
                for (var i in characteristics) {
                    if (selected_char_id == characteristics[i].pk) {
                        selected_char = characteristics[i];
                        break;
                    }
                }
                var input;
                switch (selected_char.fields.type_of_char) {
                    case 'B':
                        input = document.createElement("input");
                        input.setAttribute("id", "ch_value_"+selected_char_id);
                        input.setAttribute("name", "ch_value_"+selected_char_id);
                        input.setAttribute("type", "checkbox");
                        var hidden_default = document.createElement("input");
                        hidden_default.setAttribute("id", "ch_value_"+selected_char_id);
                        hidden_default.setAttribute("name", "ch_value_"+selected_char_id);
                        hidden_default.setAttribute("type", "hidden");
                        hidden_default.setAttribute("value", "false");
                        paragraph.appendChild(hidden_default);
                        break;
                    case 'P':
                        input = document.createElement("input");
                        input.setAttribute("id", "ch_value_"+selected_char_id);
                        input.setAttribute("name", "ch_value_"+selected_char_id);
                        input.setAttribute("type", "text");
                        break;
                    case 'C':
                        //TODO change to select from list
                        input = document.createElement("input");
                        input.setAttribute("id", "ch_value_"+selected_char_id);
                        input.setAttribute("name", "ch_value_"+selected_char_id);
                        input.setAttribute("type", "text");
                        break;
                }
                paragraph.appendChild(input);
            };
        };

        var new_button = document.getElementById("new_char_button");
        new_button.onclick = function() {
            if (document.getElementById("id_name").value) {
                jQuery.ajax({
                    url: '{% url 'manage:save_char' %}',
                    type: 'POST',
                    data: {
                        "name": document.getElementById("id_name").value,
                        "type_of_char": document.getElementById("id_type_of_char").value,
                        "csrfmiddlewaretoken": getCookie("csrftoken")
                    },
                    success: function(response) {
                        for (var i = 0; i < char_index; i++) {
                            var node = document.getElementById("ch_"+i);
                            var ch = document.createElement("option");
                            ch.appendChild(document.createTextNode(response.name));
                            ch.setAttribute("value", response.id);
                            node.appendChild(ch);
                        }
                        characteristics.push({
                            "pk": response.id,
                            "fields": {
                                "name": response.name,
                                "type_of_char": response.type_of_char
                            },
                            "model": "shop_app.characteristic"
                        });
                        document.getElementById("id_name").value = "";
                        $(function() {
                            $( "#dialog" ).dialog();
                        });
                    }
                });
            }
        };
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
{% endblock %}