{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Магаз {% block head_title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <script language="javascript" type="text/javascript" src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'js/jquery-ui-1.11.2.custom/jquery-ui.css' %}" />
    <script src="{% static 'js/jquery-ui-1.11.2.custom/jquery-ui.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">Магаз</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'index' %}">Домой<span class="sr-only">(current)</span></a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search" action="{% url 'search' %}" method="get">
              {% comment %}{% csrf_token %}{% endcomment %}
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Поиск" name="q">
              </div>
              <button type="submit" class="btn btn-default">Найти</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'sign_out' %}">Выйти</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Язык<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'set_lang' %}?language=en">English</a></li>
                <li><a href="{% url 'set_lang' %}?language=ru">Russian</a></li>
                <li class="divider"></li>
                <li><a href="#">Default (English)</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <ul class="nav nav-pills">
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'cart' %}">Корзина</a></li>
        <li><a href="{% url 'categories' %}">Категории</a></li>
        <li><a href="{% url 'my_orders' %}">Мои заказы</a></li>
        <li><a href="#">Мои сообщения</a></li>
        <li class="navbar-right"><a href="{% url 'manage:index' %}">Управление</a></li>
    </ul>
    <div class="jumbotron">
        <h1>
            {% block title %}
            {% endblock %}
        </h1>
        <h2>
            {% block sub_title %}
            {% endblock %}
        </h2>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div name="buffer" style="margin-top:75px">
    </div>
    <div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted credit">
                2014
            </p>
        </div>
    </nav>
</div>
</body>
</html>