{% extends "shop_app/ru/base.html" %}

{% block head_title %}- корзина{% endblock %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    {% if items %}
        {% for item in items %}
            <p>
                <img src="{{ item.product.image }}">
                <a href="{% url 'product' item.product.id %}">{{ item.product.name }}</a>
                {{ item.product.price }}
                {{ item.count }}
                {{ item.sum }}
                <form action="{% url 'del_from_cart' %}" method="post">
                    {% csrf_token %}
                    <input name="product" type="hidden" value="{{ item.product.id }}">
                    <input type="submit" value="Удалить из корзины">
                </form>
            </p>
        {% endfor %}
            <p>{{ page }}</p>
    {% else %}
        <p>Товары не найдены</p>
    {% endif %}
    <p>Сумма: {{ sum }}</p>
{% endblock %}