{% extends "shop_app/ru/base.html" %}
{% load tags %}
{% block head_title %}- категории{% endblock %}

{% block title %}
    Категории
{% endblock %}

{% block content %}
    <ul>
    {% for c in category_list %}
        <li><a href="{% url 'category_prods' c.id %}">{{ c.name }}</a>
        {% children_tag c %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}