{% extends "shop_app/ru/base.html" %}

{% block head_title %}- {{ product.name }}{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for cat in category_chain %}
            <li><a href="{% url 'category_prods' cat.id %}">{{ cat.name }}</a></li>
        {% endfor %}
    </ol>
    <p>Категория: {{ product.category.name }}</p>
    <p><img src="{{ product.image }}"/></p>
    <p>Цена: {{ product.price }}</p>
    <p>Описание: {{ product.description }}</p>
    <p><form action="{% url 'add_to_cart' %}" method="post">
        {% csrf_token %}
        <p>Количество: <input name="count" type="number" value="1"></p>
        <input name="product" type="hidden" value="{{ product.id }}">
        <p><input type="submit" value="Добавить в корзину"></p>
    </form></p>
{% endblock %}