{% extends "shop_app/ru/base.html" %}
{% load static %}

{% block head_title %}- {{ profile.user }}{% endblock %}

{% block title %}
    {{ profile.user }}
{% endblock %}

{% block content %}
    <p>Полное имя: {{ profile.full_name }}</p>
    <p>Пол: {{ profile.gender }}</p>
    <p>Электронная почта: {{ profile.email }}</p>
    <p>День рождения: {{ profile.birthday }}</p>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}"/>
    {% else %}
        <img src='{% static "media/avatars/no_avatar.jpg" %}'/>
    {% endif %}
    {% if profile.user == user %}
        <form action="{% url 'edit_profile' %}">
            <input type="submit" value="Редактировать"/>
        </form>
    {% endif %}
    {% if profile.avatar %}
        <form action="{% url 'avatar_download' profile.id %}" mathod="get">
            <input type="submit" value="Скачать аватар">
        </form>
    {% endif %}
{% endblock %}