{% load static %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Магаз - регистрация</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    </head>
    <body>
        <h1>Регистрация</h1>

        <form action="{% url 'sign_up' %}" method="POST">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Зарегаться"/>
        </form>
    </body>
</html>