{% load tags %}

<ul>
    {% for child in children %}
        <li> <a href="{% url 'category_prods' child.id %}">{{ child.name }}</a></li>
            {% if child.children.count > 0 %}
            {% children_tag child %}
            {% endif %}
    {% endfor %}
</ul>