{% extends "shop_app/base.html" %}
{% load static %}

{% block head_title %}- edit profile{{ profile.user }}{% endblock %}

{% block title %}
    {{ profile.user }}
{% endblock %}

{% block content %}
    <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {% if image %}
        <p><img src="{{ image.url }}"></p>
        {% else %}
        <img src="/media/avatars/no_avatar.jpg" width="200"/>
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="send" />
    </form>
{% endblock %}