{% extends "shop_app/base.html" %}

{% block head_title %}- order list{% endblock %}

{% block title %}
    My orders
{% endblock %}

{% block content %}
    {% if order_list %}
        {% for order in order_list %}
            <div class="list_item">
            {% if order.product.image %}
                <img src="{{ order.product.image.url }}"/>
            {% endif %}
                <a href="{% url 'product' order.product.id %}">{{ order.product.name }}</a>
                {{ order.product.price }}
                {{ order.count }}
                {{ order.status }}
            </div>
        {% endfor %}
            <p>{{ page }}</p>
    {% else %}
        <p>There is no orders</p>
    {% endif %}
{% endblock %}