{% extends "shop_app/base.html" %}
{% load tags %}

{% block head_title %}- product list{% endblock %}

{% block title %}
    Products
{% endblock %}

{% block sub_title %}
    {% if query %}
        Results for query: "{{ query }}"
    {% endif %}
    {% if category %}
        Results for category: "{{ category }}"
    {% endif %}
{% endblock %}

{% block content %}
    {% if product_list %}
        {% for product in product_list %}
            <div class="list_item">
                {% if product.image %}
                <img src="{{ product.image.url }}"/>
                {% endif %}
                <a href="{% url 'product' product.id %}">{{ product.name }}</a> {{ product.price }}
            </div>
        {% endfor %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>There is no products</p>
    {% endif %}
        <form action="{% url 'search' %}" method="get">
            <p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                <input id="min_val" type="hidden" name="min" value="{% if request.GET.min %}{{ request.GET.min }}{% else %}0{% endif %}">
                <input id="max_val" type="hidden" name="max" value="{% if request.GET.max %}{{ request.GET.max }}{% else %}5000000{% endif %}">
                {% if category %}
                <input type="hidden" name="category" value="{{ category.id }}">
                {% elif request.GET.category %}
                <input type="hidden" name="category" value="{{ request.GET.category }}">
                {% endif %}
                <input type="submit" value="filter">
            </p>
            <div id="slider-range" style="width:1000px"></div>
        </form>
        <script>
            $(function() {
                $( "#slider-range" ).slider({
                    range: true,
                    min: 0,
                    max: 5000000,
                    values: [ {% if request.GET.min %}{{ request.GET.min }}{% else %}0{% endif %}, {% if request.GET.max %}{{ request.GET.max }}{% else %}5000000{% endif %} ],
                    step: 50,
                    slide: function( event, ui ) {
                        $( "#amount" ).val(ui.values[ 0 ] + " RUB - " + ui.values[ 1 ] + " RUB");
                        $("#min_val").val(ui.values[ 0 ]);
                        $("#max_val").val(ui.values[ 1 ]);
                    }
                });
                $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) + " RUB" +
                " - " + $( "#slider-range" ).slider( "values", 1 ) + " RUB" );
                $("#min_val").val($( "#slider-range" ).slider( "values", 0 ));
                $("#max_val").val($( "#slider-range" ).slider( "values", 1 ));
            });
         </script>
{% endblock %}