{% extends "shop_app/base.html" %}

{% block head_title %}- {{ product.name }}{% endblock %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        {% for cat in category_chain %}
            <li><a href="{% url 'category_prods' cat.id %}">{{ cat.name }}</a></li>
        {% endfor %}
    </ol>
    <p>Category: {{ product.category.name }}</p>
    <p><img src="{{ product.image }}"/></p>
    <p>Price: {{ product.price }}</p>
    <p>Description: {{ product.description }}</p>
    <p><form action="{% url 'add_to_cart' %}" method="post">
        {% csrf_token %}
        <p>Count: <input name="count" type="number" value="1"></p>
        <input name="product" type="hidden" value="{{ product.id }}">
        <p><input type="submit" value="Add to shopping cart"></p>
    </form></p>
{% endblock %}