{% extends "shop_app/base.html" %}
{% load static %}

{% block head_title %}- {{ profile.user }}{% endblock %}

{% block title %}
    {{ profile.user }}
{% endblock %}

{% block content %}
    <p>Full Name: {{ profile.full_name }}</p>
    <p>Gender: {{ profile.gender }}</p>
    <p>Email: {{ profile.email }}</p>
    <p>Birthday: {{ profile.birthday }}</p>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}"/>
    {% else %}
        <img src='{% static "media/avatars/no_avatar.jpg" %}'/>
    {% endif %}
    {% if profile.user == user %}
        <form action="{% url 'edit_profile' %}">
            <input type="submit" value="Edit"/>
        </form>
    {% endif %}
    {% if profile.avatar %}
        <form action="{% url 'avatar_download' profile.id %}" mathod="get">
            <input type="submit" value="Download avatar">
        </form>
    {% endif %}
{% endblock %}