{% load static %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Shop - Sign Up</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    </head>
    <body>
        <h1>Sign up</h1>

        <form action="{% url 'sign_up' %}" method="POST">

            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="sign in"/>
        </form>
    </body>
</html>