{% load static %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Shop - Sign In</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
        <a class="btn btn-default" href="{% url 'sign_up' %}">Sign Up</a>

        {% if next %}
            <form class="form-signin" role="form" action="{% url 'sign_in' %}?next={{ next }}" method="POST">
        {% else %}
            <form class="form-signin" role="form" action="{% url 'sign_in' %}" method="POST">
        {% endif %}
        {% csrf_token %}
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </body>
</html>